<nav class="navbar">
  <img src="images/logo.png" class="logo">
  <div class="left-nav">
    <a class="home" href="/">Home</a>
    <a class="listings" href="/my_listings">My Listings</a>
    <a class="favourites" href="/">Favourited List</a>
    <!-- <input type="search" name="q" placeholder="Search for shoes" autocomplete="off" spellcheck="false"
      autocorrect="off" autocapitalize="off" data-testid="site-search" title="Search..." aria-label="Search..."
      id="site-search" class="chakra-input css-1hwpd2w" value="">
    <button class="search" type="submit">Search</button> -->
  </div>
  <div class="right-nav">
      <form method="POST" action="/logout">
        <button class="btn btn-danger" type="submit">Logout</button>
      </form>
    <form action="/users/login" method="" GET>
      <button class="login" href="/login">Login</button>
    </form>
    <form action="/users/sign_up">
      <button class="register" href="/sign_up">Sign Up</button>
    </form>
  </div>
</nav>
