<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/featured.css" />
  <link rel="stylesheet" href="/styles/listed-shoes.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>


<body>
  <!-- Top of page-->
  <%- include('header') %>
  <!--info on page-->
  <h1 class="featured-title">Featured Shoes</h1>
  <div class="featured">
    <div class="shoe-display">
      <img src="/images/Shoe1.png" class="shoe-image">
      <p class="shoe-name">Nike Air Force 1</p>
      <p class="price"> $100</p>
      <p class="seller"> Listed by: name</p>
      <i class="fa-regular fa-star"></i>
    </div>
    <div class="shoe-display">
      <img src="/images/Shoe1.png" class="shoe-image">
      <p class="shoe-name">Nike Air Force 1</p>
      <p class="price"> $100</p>
      <p class="seller"> Listed by: name</p>
      <i class="fa-regular fa-star"></i>
    </div>
    <div class="shoe-display">
      <img src="/images/Shoe1.png" class="shoe-image">
      <p class="shoe-name">Nike Air Force 1</p>
      <p class="price"> $100</p>
      <p class="seller"> Listed by: name</p>
      <i class="fa-regular fa-star"></i>
    </div>
    <div class="shoe-display">
      <img src="/images/Shoe1.png" class="shoe-image">
      <p class="shoe-name">Nike Air Force 1</p>
      <p class="price"> $100</p>
      <p class="seller"> Listed by: name</p>
      <i class="fa-regular fa-star"></i>
    </div>
    <div class="shoe-display">
      <img src="/images/Shoe1.png" class="shoe-image">
      <p class="shoe-name">Nike Air Force 1</p>
      <p class="price"> $100</p>
      <p class="seller"> Listed by: name</p>
      <i class="fa-regular fa-star"></i>
    </div>
    <div class="shoe-display">
      <img src="/images/Shoe1.png" class="shoe-image">
      <p class="shoe-name">Nike Air Force 1</p>
      <p class="price"> $100</p>
      <p class="seller"> Listed by: name</p>
      <i class="fa-regular fa-star"></i>
    </div>
  </div>
    <h1>All Shoes</h1>
    <div class="shoe-container">
      <div class="sort-container">
        <button id="sort-button">Sort by Price</button>
      </div>
      <div class="listed-shoes">
        <div class="shoe-display">
          <img src="/images/Shoe1.png" class="shoe-image">
          <p class="shoe-name">Nike Air Force 1</p>
          <p class="price"> 15</p>
          <p class="seller"> Listed by: a</p>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="shoe-display">
          <img src="/images/Shoe1.png" class="shoe-image">
          <p class="shoe-name">Nike Air Force 1</p>
          <p class="price"> 16</p>
          <p class="seller"> Listed by: name</p>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="shoe-display">
          <img src="/images/Shoe1.png" class="shoe-image">
          <p class="shoe-name">Nike Air Force 1</p>
          <p class="price"> 17</p>
          <p class="seller"> Listed by: name</p>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="shoe-display">
          <img src="/images/Shoe1.png" class="shoe-image">
          <p class="shoe-name">Nike Air Force 1</p>
          <p class="price"> 27</p>
          <p class="seller"> Listed by: name</p>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="shoe-display">
          <img src="/images/Shoe1.png" class="shoe-image">
          <p class="shoe-name">Nike Air Force 1</p>
          <p class="price"> 37</p>
          <p class="seller"> Listed by: name</p>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="shoe-display">
          <img src="/images/Shoe1.png" class="shoe-image">
          <p class="shoe-name">Nike Air Force 1</p>
          <p class="price"> 57</p>
          <p class="seller"> Listed by: name</p>
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="shoe-display">
          <img src="/images/Shoe1.png" class="shoe-image">
          <p class="shoe-name">Nike Air Force 1</p>
          <p class="price"> 100</p>
          <p class="seller"> Listed by: name</p>
          <i class="fa-regular fa-star"></i>
        </div>
      </div>
    </div>
</body>

</html>
