<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/featured.css" />
  <link rel="stylesheet" href="/styles/listed-shoes.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Create New Listing</title>
</head>

<body>
  <%- include('partials/_header') %>
  <h1>Watcha Sellin?</h1>
  <!--Need form for submitting new listing with inputs for all data in shoes table in ERD-->
  <form action="/listings/new" method="POST" class="new_listing">
    <select name="gender" id="gender-select" required>
      <option selected disabled value="">--Please choose an option--</option>
      <option value="Female">Female</option>
      <option value="male">Male</option>
    </select>
    <div class="form_new">
      <label for="price">Enter your price </label>
      <input type="text" name="price" id="priceId" required>
    </div>
    <div class="form_new">
      <label for="brand">Enter the brand </label>
      <input type="text" name="brand" id="brandId" required>
    </div>
    <div class="form_new">
      <label for="size">Enter the size </label>
      <input type="text" name="size" id="sizeId" required>
    </div>
    <div class="form_new">
      <label for="size">Enter an image URL </label>
      <input type="text" name="image_url" id="urlId" required>
    </div>
    <div class="form_new">
      <label for="description">Enter a description </label>
      <textarea id="description" name="description" rows="4" cols="50" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Create a listing</button>

  </form>
</body>

</html>
