<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/featured.css" />
  <link rel="stylesheet" href="/styles/listed-shoes.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>New Message</title>
</head>
<body>
  <%- include('header') %>
  <h1>Form with text input, listing to reference, submit button</h1>
  <form action="/messages/new" method="POST" class="new_message_form">
    <div class="messages">
      <label for="price">Enter the shoe id: </label>
      <input type="text" name="shoe-id" id="shoe-id" required>
    </div>
    <div class="messages">
      <label for="new-message">Enter your message: </label>
      <textarea id="new-message" name="new-message" rows="4" cols="50" required></textarea>
    </div>
    <div class="messages">
      <label for="new-message">Should be a timestamp here </label>
    </div>
    <button type="submit" class="btn btn-primary">Send a message </button>
  </form>
</body>
</html>
