<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/featured.css" />
  <link rel="stylesheet" href="/styles/listed-shoes.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/styles/messages.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>New Message</title>
</head>

<body>
  <%- include('partials/_header') %>
  <h2 class="direct-message">Direct Message Form</h2>
    <div class="new-shoe-form">
      <form action="/messages/new" method="POST" class="new_message_form">
        <div class="new-shoe">
          <label for="new-shoe">Enter the shoe id: </label>
          <input type="text" name="shoe-id" id="shoe-id" required>
        </div>
        <div class="new-message">
          <label for="new-message">Enter your message: </label>
          <textarea id="new-message" name="new-message" rows="4" cols="50" required></textarea>
        </div>
          <div class="new-timestamp-button">
          <button type="submit" class="btn btn-primary">Send a message </button>
        </div>
        </div>
      </form>
    </div>
    <h2 class="email-title">Email Contact Form</h2>
      <div class="new-shoe">
        <label for="new-shoe">Enter the shoe id: </label>
        <input type="text" name="shoe-id" id="shoe-id" required>
      </div>
    <form action="/messages/email" method="POST">
       Your Subject:<br><input type="text" name="your_subject"> <br>
       Your Message:<br><textarea id="new-email" name="new-email" rows="4" cols="50" required></textarea><br>
       <div class="new-timestamp-button">
        <button type="submit" class="btn btn-primary">Send an email </button>
      </div>
    </form>
</body>

</html>
