<!DOCTYPE html>
<html lang="en">

  <head>
  <title>User Favorites</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/featured.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav class="navbar">
    <img src="images/logo.png" class="logo">
    <div class="left-nav">
      <a class="home" href="/">Home</a>
      <a class="listings" href="/">Listings</a>
      <!-- <input type="search" name="q" placeholder="Search for shoes" autocomplete="off" spellcheck="false"
        autocorrect="off" autocapitalize="off" data-testid="site-search" title="Search..." aria-label="Search..."
        id="site-search" class="chakra-input css-1hwpd2w" value="">
      <button class="search" type="submit">Search</button> -->
    </div>
    <div class="right-nav">
      <form action="/users/login" method=""GET>
        <button class="login" href="/login">Login</button>
      </form>
      <form action="/users/sign_up">
        <button class="register" href="/sign_up">Sign Up</button>
      </form>
    </div>
  </nav>
  <h1>Show all a users favorite listings</h1>
  <div class="listing">
    <% for (let i of data) {  %>
      <div class="row1">
        <img src="/images/<%= i.image_url %>" class="shoe-image">

        <p class="shoe-name">Brand: <%= i.brand %></p>
      <p class="price">Price: <%= i.price %></p>
      <p class="size">Size: <%= i.size %></p>
      </div>
      <% } %>
  </div>
</body>
</html>
