.shoe-display {
  border: 3px solid black;
  border-radius: 3px;
  width: 141px;
  height: 100%;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: column;

}
.featured-title {
  margin-top: 150px;
}
.featured {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  list-style-type: none;
  overflow: auto;
  margin-top: 50px;
}


.price {
  display: flex;
  position: center;
  margin: 0
}

.shoe-name {
  margin-bottom: 4px
}

.shoe-image {
  object-fit: contain;
  max-width: 120px;
}

.seller {
  margin: 0;
  font-size: 10px;
}

#star {
  color: #4056A1;
}
