.featured-title{
  font-weight: 700;
}
.shoe-display {
  border: 3px solid black;
  border-radius: 3px;
  width: 141px;
  height: 200px;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.featured-title {
  margin-top: 150px;
}

.main-container{
  display:flex
}

.featured {
  gap: 5px;
  list-style-type: none;
  overflow: auto;
  margin-top: 50px;
}


.price {
  display: flex;
  position: center;
  margin: 0
}

.shoe-name {
  margin-bottom: 4px;
  font-size: 14px;
}

.shoe-image {
  object-fit: contain;
  width: 120px;
  height: 120px;
}

.size {
  margin: 0;
  font-size: 10px;
}

#star {
  display:flex;
  justify-content:right;
  color: #4056A1;
  position: absolute;
  overflow: hidden;
  bottom: 5px;
  right: 6px;
}

#star:hover {
  color: gold;
}
