.all-shoes{
  margin-top: 0px;
  padding-top: 100px;
}

// .listed-shoes {
//   display: grid;
//   grid-template-columns: repeat(6, 1fr);
//   gap: 5px;
//   list-style-type: none;
//   overflow: auto;
// }


// .sort-container {
//   display:flex;
//   flex-direction: row;
// }

.listed-shoes {
  display:flex
}

.listed-container {
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  padding:5px;
}

.sort-buttons button {
  background-color: #829095;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.sort-buttons button:hover {
  background-color: #618997;
}

.sort-buttons {
  display: flex;
  float: right;
  margin-bottom: 20px;
  margin-right: -438px;
}
