body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F5F5DC;
}

.listing {
  display: flex;
  justify-content: center;
  margin: 100px 0px 100px 100px;
  flex-wrap: wrap;
}

.row1 {
  width: 18%;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid red;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row2 {
  width: 18%;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid red;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.row3 {
  width: 18%;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid red;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.row4 {
  width: 18%;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid red;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
