.navbar {
  display: flex;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  background: gold;
  z-index: 9999;
}

.left-nav{
  display: flex;
  justify-content: space-between;
}

.home{
  text-decoration: none;
  color: black;
  font-family: "oswald";
  font-size: large;
  font-weight: 600;

}

.listings{
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
  padding: 0 1em;
}

.favourites{
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
  padding: 0 1em;
}

.nav-messages{
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
  padding: 0 1em;
}

.nav-new-message{
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
  padding: 0 1em;
}

.logo {
  width: 316px;
  height:auto
}

.login-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.login {
  display: inline-block;
  background: #F7E3AF;
  color: #00008b;
  padding: 8px 16px;
  text-align: center;
  font-size: 24px;
  font-family: "oswald";
  cursor: pointer;
  border: solid;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.login:hover {
  color: #D3D3D3;
  background-color: #00008b;
}

.register {
  display: inline-block;
  font-family: "oswald";
  background: #F7E3AF;
  color: #00008b;
  padding: 8px 16px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  border: solid;
  margin-top: 5px;
  border-radius: 4px;

  transition: background-color 0.3s;
}

.register:hover {
  color: #D3D3D3;
  background-color: #00008b;
}

.logout {
  display: inline-block;
  background: #F7E3AF;
  color: #00008b;
  text-align: center;
  font-size: 24px;
  font-family: "oswald";
  cursor: pointer;
  border: solid;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout:hover {
  color: #D3D3D3;
  background-color: #00008b;
}
