html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: larger;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.login {
  display: flex;
  justify-content: center;
}

.email {
  border: none;
  background-color: aqua;
}

.login {
  display: none;
}

.register {
  display: none;
}
